* {
  box-sizing: border-box;
}
/**
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}**/


#myInput {
  background-image: url('/img/search.png'); 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
  
}

#myTable th, #myTable td {
  text-align: center;
  padding: 12px;
}

#myTable tr {
    text-align: center;
  border-bottom: 1px solid #ddd;
}

#myTable thead{
    background-color: red;
}

#myTable tr:hover {
    background-color: black;
    color: white;
}
